.search {
  position: relative;
  width: 200px;
  margin: 0 10px;
}

.labelForm {
  position: relative;
  width: 100%;
}

.inputForm {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 10px;
  padding-left: 25px;
  font-size: 0.8rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.iconSearch {
  position: absolute;
  left: 150px;
  top: 12px;
  color: #777777;
}
